header{
    background: url('./Images/bia.png') no-repeat center;
    /* width: 1920px; */
    height: 800px;
}
.top{
    width: 1170px;
    height: 140px;
    display: flex;
    align-items: center;
    position: relative;
}
header>nav{
    display: flex;
    justify-content: center;
    background: #7975758f;
}
.top>a{
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    color: white;

   
}
span{
    color: #4bcaff;
}
.top>ul>li>a{
    text-decoration: none;
    margin-right: 45px;
    text-transform: uppercase; 
    color: white;
  
    
}
.top ul{
    font-size: 10px;
    list-style-type: none;
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: row;
}
.top .home{
    border: 2px solid #4bcaff;
    padding: 10px;
    color: #4bc4f7;
}
.baner>p{
    background-color: #444f57;
    color: white; 
    font-size: 42px;
   /*  margin-top: 250px; */
    text-align: center;
    text-transform: uppercase;
    display: webkit inline box;
    margin: 0 auto;
}
.baner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 250px;
}
.services{
    width: 1170px;
    margin-top: 110px;

}
.coffee{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.parent{
    display: flex;
    justify-content: center;
    background: #4bcaff;
}
.port>ul>li>a{
   
    text-decoration: none;
}
.port>ul{
    list-style-type: none;
}
.parent_port{
  /*   background: red; */
    width: 1170px;
    height: 845px;
    

}
.gram{
    display: flex;
    justify-content: center;
}
.port{
    /* background: rgb(105, 105, 177); */
    display: flex;
    flex-direction: row;
   /*  position: relative; */
    align-items: center;
}
.port>ul{
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: row;
    margin-block-start: 0;
    margin-block-end: 0;
    
}
.port>h2{
    font-size: 30px;
    color: #a8afb3;
    text-transform: uppercase;
}
.port>ul>li>a{
    margin-right: 80px;
    color: #c1c5c7;
}
.port1{
    /* background: green; */
    
}
.image1{
    display: flex;
    flex-direction: row;
    /* margin-left: 30px; */
}
.all{
    border: 2px solid #4bcaff;
    color: #4bcaff !important ;
    padding: 10px;
}
.image1_1{
    margin-left:0px !important;
}
.image1>div
{
    margin-left: 30px;
}
.image2{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.image2>div{
    margin-left: 30px;
}
.image2_1{
    margin-left: 0px !important;
}
.abc{
    margin-right: 0px !important;
}
.de2>input{
    background: #515f67;
    border: 2px solid black;
}
.parent_df{
    background: #515f67;
    display: flex;
    justify-content: center;
    height: 470px;
    align-content:middle;
    
}
.default{
    width: 1170px;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    position: relative;
   
}
.df1{
    float: left;
    margin-left:-75px;
}
.de1{
    color:#c9ccce;
    margin-left: 40px;
    margin-top: 80px;
}
.de1>h2{
    margin-top: -80px;
}
.video{
    margin-left: 80px;
    float: right;
    right: 0;
}
.video>img{
    margin-right: 0;
    margin-top: 80px;
}
.de2>input{
    margin-top: 30px;
    margin-left: 40px;
    color: #39434b;
    border: 2px solid #39434b;
    border-radius: 5px;
    width: 140px;
    height: 40px;
}
.twitter{
    display: flex;
    justify-content: center;
    background: #4bcaff;
}
.t_child{
    width: 1170px;
    height: 300px;
}
.t_child_a{
   display: flex;
   flex-direction: row;
   
}
.t_child_a>img{
    position: absolute;
    right: 90px;
    margin-top: 80px;
}
.t_child_a>h2{
    text-transform: uppercase;
    color: white;
    margin-top: 80px; 
}
.t_child_b>h3{
    color: white !important;
    font-weight: 100;
    margin-top: 55px;
}
.t_child_b>h3>span{
    color: white;
    font-weight: bold;
}
.john{
    background: url('./Images/john.png') no-repeat center;
    height: 505px;
    display: flex;
    justify-content: center;
}
.parent_john{
    width: 1170px;
}
.child_john1>h2{
    color: white;
}
.child_john2{
    display: flex;
    flex-direction: row;
    font-size: 14px;
}
.child_john2a>p{
    color: white;

}
.child_john2b{
   /*  margin-top: 170px; */
}
.child_john2b1{
    color: white;
    margin-left: 40px; 
}
.child_john2b2{
    margin-top: 40px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
   /*  justify-content: center; */ 
}
.child_john2b2>a>img{
    margin-left: 25px;
}
.child_john1{
    margin-top: 100px;
}
.tes{
    color: white;
    height: 505px;
    display: flex;
    justify-content: center;
}
.child_tes{
    width: 1170px;
    height: 360px;
}
.tesa{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
}
.tesa>img{
    position: absolute;
    right: 100px;
}
.tesb{
    margin-top: 60px;
}
.tesa>h2{
    color: black;
    text-transform: uppercase;
    font-size: 32px;
    float: left;
}
.tesb>p{
    color: black;
    font-size: 30px;
}
.tesc{
    margin-top: 50px;
}
.contact{
    background: url('./Images/ff.png') no-repeat center;
    height: 815px;
    display: flex;
    justify-content: center;
}
.child_contact{
    width: 1170px;
    
}
.con1{
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    margin-top: 80px;
}
.con2a>label{
    text-transform: uppercase;
    color: white;
}
.con3a>label{
    text-transform: uppercase;
    color: white;
}
.con4>label{
    text-transform: uppercase;
    color: white;
}
.con2a,.con3a,.con4{
    display: flex;
    flex-direction: column;
}
.con2a>input{
    width: 470px;
    height:60px ;
    background: none;
    border: 2px solid white;
    margin-top: 10px;
    margin-bottom: 20px;
}
.con3a>input{
    background: none;
    border: 2px solid white;
    width: 470px;
    height:60px ;
    margin-top: 10px;
    margin-bottom: 20px;
}
.con4>input{
    background: none;
    border: 2px solid white;
    width: 1170px;
    height: 215px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.con2b,.con3b{
    color: white;
    margin-left: 100px;
}
.parent_con2,.parent_con3{
    display: flex;
    flex-direction: row;
}
.con5{
    margin-top: 40px;
}
.con5>input{
    width: 370px;
    height: 60px;
    color: white;
    background: #4bcaff;
    display: flex;
    justify-content: center; 
}
footer{
    height: 170px;
    background:#353f47;
    display: flex;
    justify-content: center;
}
.ft{
    width:1170px;
    
}
.child_ft>ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.child_ft{
    margin-top: 75px;
}
.child_ft>ul>li>a{
    text-decoration: none;
    text-transform: uppercase;
    color: #8aa3b3;
    font-size: 14px;
    margin-left: 20px;
}
.fthome{
    margin-left: 0px !important;
}
.tan{
    border-left: 2px solid #8aa3b3;
    padding-left: 10px;
    padding-right: 5px;
}